.races-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 3rem;
  }
  
  .races-container > * {
    flex-basis: 25%;
    margin: 0.5rem;
  }

  .race-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0px 20px 20px 20px;
    color: var(--offWhite);
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    background-color: rgba(15, 15, 15, 0.889);
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 20px;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.214);
  }

  .race-container:hover {
    transform: scale(1.05);
    background-color: rgba(255, 0, 0, 0.348);
    box-shadow: 0px 0px 20px black;
  }
  
.race-text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.race-mini-map {
  margin: auto;
  max-height: 150px;
  border-radius: 10px;
  background-color: rgb(202, 202, 202);
  opacity: 0.75;
  box-shadow: 2px 2px 5px black;
}

  .race-detail-container {
    margin: 100px 20px 20px 20px;
    color: var(--offWhite);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: rgba(46, 46, 46, 0.672);
    border: 1px solid var(--outline);
    border-radius: 0.5rem;
    padding: 0px 20px 20px 20px;
    box-shadow: 0px 4px 5px black;
  }

  .race-detail-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .race-detail-header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .race-detail-header {
    font-size: 40px;
    margin: 10px 10px 0px 10px;
  }
  
  .race-detail-map {
    max-height: 600px;
  }

  .race-detail-stats {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 20px 50px 50px 100px
  }

  .race-info {
    color: var(--offWhite);
  }
  
  .race-detail-info {
    color: whitesmoke;
    font-weight: bold;
    margin: 0px 10px
  }

  .mini-race-flex-div {
    display: flex;
    justify-content: space-between;
  }