.button-div {
    display: flex;
    justify-content: flex-end;
  }
  
  .edit-button .delete-button {
    padding: 10px;
    margin: 10px;
    box-shadow: 10px;
  }

  .user-info {
    color: var(--offWhite);
    margin-left: 50px;
  }

  .driver-comment {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
    height: 150px;
    background-color: var(--offWhite);
    /* border-bottom: 2px solid black;
    border-left: 2px solid black; */
    box-shadow: 1px 1px 5px black;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0 1rem;
    flex-basis: 30;
    margin: 0.5rem;
  }
  
  .button-div {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
  }

  /* .driver-comment-Praise {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
    height: 150px;
    background-color: rgb(195, 255, 195);
    box-shadow: 1px 1px 5px black;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0 1rem;
    flex-basis: 30;
    margin: 0.5rem;
  }
  
  .driver-comment-Criticism {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
    height: 150px;
    background-color: rgb(250, 147, 147);
    box-shadow: 1px 1px 5px black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex-basis: 30;
    margin: 0.5rem;
  }
  
  .driver-comment-Prediction {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
    height: 150px;
    background-color: rgb(255, 189, 255);
    box-shadow: 1px 1px 5px black;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0 1rem;
    flex-basis: 30;
    margin: 0.5rem;
  }
  
  .driver-comment-Question {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
    height: 150px;
    background-color: rgb(255, 226, 176);
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 1rem 1rem 0 1rem;
    flex-basis: 30;
    margin: 0.5rem;
  }
  
  .driver-comment-Answer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
    height: 150px;
    background-color: rgb(213, 213, 255);
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 1rem 1rem 0 1rem;
    flex-basis: 30;
    margin: 0.5rem;
  } */