.drivers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem;
}

.drivers-container > * {
  flex-basis: 25%;
  margin: 0.5rem;
}

.driver-container {
  background-color: var(--white);
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  padding: 1rem;
}

.driver-info {
  color: var(--info);
  font-family: "Roboto", sans-serif;
}

.driver-header {
  font-size: larger;
  font-weight: 700;
  line-height: 3rem;
  color: var(--primary);
}
