.main-comment-container {
  display: flex;
  background-color: var(--primary);
  border-radius: 0.5rem;
  margin: 20px;
  padding: 10px 0px 0px 0px;
}

.drivers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 1.5rem 0.5rem 0.5rem 0.5rem;
}

.drivers-container > * {
  flex-basis: 20%;
  margin: 20px;
}

.driver-container {
  display: flex;
  justify-content: space-between;
  color: var(--offWhite);
  width: 300px;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  background-color: var(--primary);
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  padding: 5px 20px 20px 20px;
  box-shadow: 0px 4px 5px black;
}

.driver-container:hover {
  transform: scale(1.05);
  background-color: rgba(255, 0, 0, 0.348);
}

.driver-detail-container {
  display: flex;
  width: auto;
  margin: 30px;
  background-color: var(--offWhite);
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  padding: 1rem;
}

.driver-detail-image {
  border-radius: 10px;
  margin: 0.5rem;
  box-shadow: 2px 2px 5px black;
}

.driver-detail-stats {
  margin: 1rem 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.driver-info {
  color: var(--offWhite);
  font-family: "Montserrat", sans-serif;
}

.driver-detail-info {
  color: var(--secondary);
  font-family: "Montserrat", sans-serif;
}

.driver-detail-header {
  font-weight: bold;
}

.driver-header {
  font-size: larger;
  margin-left: 30px;
  font-weight: 700;
  line-height: 3rem;
  color: var(--primary);
}

.driver-comments-header {
  margin: 0 30px 30px 0px;
}

.driver-comments-container {
  display: flex;
  background-color: var(--primary);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px 30px;
  flex-basis: 70%;
}

.button-div {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  margin-bottom: 5px;
}

.edit-button .delete-button {
  padding: 10px;
  margin: 10px;
  box-shadow: 10px;
}

.driver-code {
  margin-top: 0px;
}

.driver-team {
  margin-top: 10px;
  color: var(--tertiary);
}

.link-style {
  color: inherit;
  text-decoration: none;
}

.driver-photo {
  height: 100px;
  border-radius: 50px;
}

.driver-comment-author {
  font-size: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: auto;
  color: grey;
}

.driver-comment-category {
  font-size: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: auto;
  color: grey;
}

.driver-comment-metadata {
  display: flex;
}

.driver-comment-content {
  margin: 0 20px 25px 20px;
}

.driver-comment-Praise {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  height: auto;
  background-color: rgb(195, 255, 195);
  box-shadow: 1px 1px 5px black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.driver-comment-Criticism {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  height: auto;
  background-color: rgb(255, 167, 167);
  box-shadow: 1px 1px 5px black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.driver-comment-Prediction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  height: auto;
  background-color: rgb(255, 205, 255);
  box-shadow: 1px 1px 5px black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.driver-comment-Question {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  height: auto;
  background-color: rgb(255, 229, 180);
  box-shadow: 1px 1px 5px black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.driver-comment-Answer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  height: auto;
  background-color: rgb(194, 194, 255);
  box-shadow: 1px 1px 5px black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.driver-image {
  width: 125px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.496);
}

.driver-text {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
}
