/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&family=Roboto:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



/* FONTS
font-family: "Nunito", sans-serif;
font-family: "Quicksand", sans-serif;
font-family: "Roboto", sans-serif; 
*/

/* COLOR PALETTE */
/* Feel free to change these values and create your own color palette! https://coolors.co/ is a great resource */
:root {
  --primary: #AD343E;
  --secondary: #61232A;
  --tertiary: #C78B8D;
  --offWhite: #E0E2DB;
  --outline: #88A096;
  --appBackground:#141115;
}

/* GLOBAL STYLES */
body,
button,
input,
select,
textarea {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--appBackground);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* This prevents all the links in the app from having default underline */
a {
  text-decoration: none;
}
/* This prevents all the links in the app from turning purple after visiting */
a:visited {
  color: inherit;
}
/* This prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
  outline: none;
}

/* GLOBAL STYLING FOR ALL THE BUTTONS BUTTONS */
button {
  margin: 10px 10px;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: var(--appBackground);
  background-color: var(--offWhite);
  cursor: pointer;
  box-shadow: 1px 1px 2px black;
}

button:hover {
  transform: scale(1.1);
  background-color: var(--appBackground);
  color: var(--offWhite);
  box-shadow: 2px 2px 5px black;
}

/* These are all the color options for the buttons */
/* If you change the color variables, be sure to change the hover colors to be a darker shade of the colors you chose*/
.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: #e5a000;
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: #0097d7;
}

.btn-warning {
  background-color: var(--warning);
}

.btn-warning:hover {
  background-color: #e14617;
}

.btn-info {
  background-color: var(--info);
}

.btn-info:hover {
  background-color: #71a500;
}


