.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--primary);
    margin: auto;
    width: 90%;
    padding: 25px;
    border-radius: 10px;
    align-self: center;
  }
  
  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: var(--offWhite);
  }

  .navbar-item:hover {
    transform: scale(1.1);
    color: black;
  }
  
  .navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
  }
  
  .navbar-logout {
    margin-left: auto;
  }
  
  .navbar-link:hover {
    color: var(--appBackground);
  }
  