.auth-container {
  color: var(--offWhite);
  border: 0 0 2px 2px  solid rgb(255, 255, 255);
  background-color: var(--primary);
  margin: 3rem 15rem;
  padding: 2rem;
  border-radius: 1rem;
}

fieldset {
  border: none;
  padding: 0;

}

.header {
  font-size: 2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-input {
  padding: 0.25rem;
  border-radius: 10px;
}

.register-link {
  text-align: center;
}

.auth-fieldset {
  margin: 0.25rem 0rem;
}
