.fieldset-div {
  background-color: none;
  border-radius: 10px;
  padding: 0 30px 10px 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 100px;
  width: 800px;
}

.comment-container {
  display: flex;
  justify-content: center;
}

.add-comment-form {
  background-color: rgba(18, 18, 18, 0.918);
  color: rgba(205, 205, 205, 0.918);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.314);

}

/* fieldset {
  background-color: var(--offWhite);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 2px 2px 5px black;

} */

.radio-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 10px 10px 60px;
}

.category {
  margin: 10px;
  width: 25%;
}

.comment-input {
  width: 450px;
  height: 150px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
}

.driver-comment-form {
  display: flex;
  justify-content: center;
}

.edit-comment-form {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.edit-fieldset {
  background-color: var(--offWhite);
}

.comment-button-div {
  display: flex;
  justify-content: center;
}
/* 
.category-heading {
  font-weight: bold;
}
.comment-heading {
  font-weight: bold;
} */
