.fieldset-div{
    background-color: var(--primary);
    border-radius: 10px;
    padding: 0 30px 10px 30px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.radio-categories {
    display: flex;
    margin: 10px;
}

.category {
    margin: auto
}

.comment-input {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    border-radius: 10px;
}

.driver-comment-form{
    display: flex;
    justify-content: center;
}

.edit-comment-form{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.comment-button-div{
    display: flex;
    justify-content: center;
}

.category-heading {
    font-weight: bold;
}
.comment-heading {
    font-weight: bold;
}